In [47]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [48]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-01-02 20:05:04,19.7297,-155.0900,81.63,76,1,11.50
1,1,Mangai,CD,2022-01-02 20:09:47,-4.0500,19.5333,70.86,96,95,1.10
2,2,Deputatskiy,RU,2022-01-02 20:09:47,69.3000,139.9000,-28.80,96,100,3.31
3,3,Lebu,CL,2022-01-02 20:09:48,-37.6167,-73.6500,61.27,94,96,8.19
4,4,Maragogi,BR,2022-01-02 20:09:48,-9.0122,-35.2225,81.09,71,70,11.16

In [49]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [50]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [51]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [52]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig_2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer_2 = gmaps.heatmap_layer(locations, 
                                   weights=humidity, 
                                   dissipating=False, 
                                   max_intensity=300, 
                                   point_radius=4)

fig_2.add_layer(heat_layer_2)
# Call the figure to plot the data.
fig_2

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [58]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-01-02 20:05:04,19.7297,-155.0900,81.63,76,1,11.50
4,4,Maragogi,BR,2022-01-02 20:09:48,-9.0122,-35.2225,81.09,71,70,11.16
10,10,Crixas,BR,2022-01-02 20:09:53,-14.5489,-49.9692,78.03,85,75,3.80
11,11,Rikitea,PF,2022-01-02 20:09:54,-23.1203,-134.9692,77.47,71,19,9.26
19,19,Sao Filipe,CV,2022-01-02 20:09:57,14.8961,-24.4956,77.81,58,17,10.33
22,22,Puerto Ayora,EC,2022-01-02 20:09:59,-0.7393,-90.3518,80.56,78,95,12.55
25,25,Tual,ID,2022-01-02 20:10:01,-5.6667,132.7500,81.63,78,100,15.03
30,30,Manzanillo,CU,2022-01-02 20:10:04,20.3433,-77.1167,85.01,44,2,11.68
33,33,Namatanai,PG,2022-01-02 20:10:06,-3.6667,152.4333,79.70,83,100,6.55
34,34,Avarua,CK,2022-01-02 20:10:06,-21.2078,-159.7750,82.45,78,20,13.80

In [59]:
preferred_cities_df.count()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [60]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0           Hilo      US     81.63  19.7297 -155.0900
4       Maragogi      BR     81.09  -9.0122  -35.2225
10        Crixas      BR     78.03 -14.5489  -49.9692
11       Rikitea      PF     77.47 -23.1203 -134.9692
19    Sao Filipe      CV     77.81  14.8961  -24.4956
22  Puerto Ayora      EC     80.56  -0.7393  -90.3518
25          Tual      ID     81.63  -5.6667  132.7500
30    Manzanillo      CU     85.01  20.3433  -77.1167
33     Namatanai      PG     79.70  -3.6667  152.4333
34        Avarua      CK     82.45 -21.2078 -159.7750

In [61]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try: 
        print(f"Requesting {index} of {len(hotel_df)}")
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception as e:
        print("Error",e)

Requesting 0 of 133
Requesting 4 of 133
Requesting 10 of 133
Requesting 11 of 133
Requesting 19 of 133
Requesting 22 of 133
Requesting 25 of 133
Requesting 30 of 133
Requesting 33 of 133
Requesting 34 of 133
Requesting 37 of 133
Requesting 38 of 133
Requesting 43 of 133
Requesting 49 of 133
Requesting 52 of 133
Requesting 55 of 133
Requesting 58 of 133
Requesting 71 of 133
Requesting 76 of 133
Requesting 77 of 133
Requesting 78 of 133
Requesting 80 of 133
Requesting 90 of 133
Requesting 97 of 133
Requesting 100 of 133
Requesting 103 of 133
Requesting 104 of 133
Requesting 105 of 133
Requesting 106 of 133
Requesting 118 of 133
Requesting 121 of 133
Requesting 122 of 133
Requesting 124 of 133
Requesting 134 of 133
Requesting 135 of 133
Requesting 143 of 133
Requesting 151 of 133
Requesting 155 of 133
Requesting 163 of 133
Requesting 164 of 133
Requesting 166 of 133
Requesting 170 of 133
Requesting 179 of 133
Requesting 186 of 133
Requesting 187 of 133
Requesting 188 of 133
Error list index out of range
Requesting 194 of 133
Requesting 196 of 133
Requesting 198 of 133
Requesting 200 of 133
Requesting 201 of 133
Requesting 202 of 133
Requesting 203 of 133
Requesting 206 of 133
Requesting 223 of 133
Requesting 227 of 133
Requesting 228 of 133
Requesting 231 of 133
Requesting 240 of 133
Requesting 242 of 133
Requesting 243 of 133
Requesting 244 of 133
Requesting 252 of 133
Requesting 255 of 133
Requesting 257 of 133
Requesting 258 of 133
Requesting 266 of 133
Requesting 270 of 133
Requesting 273 of 133
Requesting 275 of 133
Requesting 277 of 133
Requesting 280 of 133
Requesting 289 of 133
Error list index out of range
Requesting 290 of 133
Requesting 295 of 133
Requesting 297 of 133
Requesting 299 of 133
Requesting 300 of 133
Requesting 303 of 133
Requesting 314 of 133
Requesting 315 of 133
Requesting 316 of 133
Requesting 324 of 133
Requesting 330 of 133
Requesting 331 of 133
Requesting 341 of 133
Requesting 343 of 133
Requesting 369 of 133
Requesting 371 of 133
Requesting 377 of 133
Requesting 383 of 133
Requesting 389 of 133
Requesting 392 of 133
Requesting 393 of 133
Requesting 396 of 133
Requesting 397 of 133
Requesting 398 of 133
Requesting 407 of 133
Requesting 409 of 133
Requesting 416 of 133
Requesting 423 of 133
Requesting 429 of 133
Error list index out of range
Requesting 433 of 133
Requesting 443 of 133
Requesting 447 of 133
Error list index out of range
Requesting 448 of 133
Requesting 450 of 133
Requesting 451 of 133
Requesting 454 of 133
Requesting 462 of 133
Requesting 472 of 133
Requesting 475 of 133
Requesting 477 of 133
Requesting 490 of 133
Requesting 493 of 133
Requesting 503 of 133
Requesting 510 of 133
Requesting 512 of 133
Error list index out of range
Requesting 514 of 133
Error list index out of range
Requesting 517 of 133
Requesting 520 of 133
Requesting 522 of 133
Requesting 525 of 133
Requesting 528 of 133
Requesting 530 of 133
Requesting 538 of 133
Requesting 540 of 133
Requesting 542 of 133
Requesting 547 of 133
Requesting 550 of 133
Error list index out of range
Requesting 555 of 133
Requesting 557 of 133
Requesting 560 of 133

In [62]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,81.63,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Maragogi,BR,81.09,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
10,Crixas,BR,78.03,-14.5489,-49.9692,RISO HOTEL
11,Rikitea,PF,77.47,-23.1203,-134.9692,People ThankYou
19,Sao Filipe,CV,77.81,14.8961,-24.4956,Hotel Xaguate
...,...,...,...,...,...,...
547,Ubud,ID,76.32,-8.5098,115.2654,Maya Ubud Resort & Spa
550,Qandala,SO,77.52,11.4720,49.8728,
555,Ipixuna,BR,78.75,-1.7625,-48.8043,Casa da Oscarina
557,Meulaboh,ID,75.54,4.1363,96.1285,Kost Pria
560,Mahibadhoo,MV,81.86,3.7833,72.9667,Omadhoo Inn

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))